{% extends "basicapp/base.html"%}

{% block body_block %}

<div class="jumbotron">
  <div class="container">
    <h1>Quiz</h1>
  </div>
</div>
<div class="container">
  <h1>Register here to generate your IQ</h1>
  > <a href="{% url 'basicapp:register'%}">Quiz Link </a><

</div>
<div class="jumbotron">
  <ul>
    <li>Their are total of 10 questions.</li>
    <li>Their is no negative marking.</li>
    <li>For each correct answer you will be given 1 marks.</li>
    <li>Their is no time limit.</li>
  </ul>
</div>
{% endblock%}
