{%extends "basicapp/base.html"%}
{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/quiz.css' %}">



{% endblock %}
{% block body_block%}
<div class="container">

<div class="jumbotron container">
  {%if registered %}
    <h1 id="welcome">Welcome</h1>
        <link href="https://fonts.googleapis.com/css?family=Lilita+One" rel="stylesheet">
        <div id="time">Time left = <span id="timer"></span></div>

        <p>The average of first 50 natural numbers is ………….</p>
        <form class="" action="index.html" method="post">
          <input type="radio" name="q1" value="a"> A. 25.30 <br>
          <input type="radio" name="q1" value="b"> B. 25.5<br>
          <input type="radio" name="q1" value="c"> C. 25.00
        </form>
        <p> A fraction which bears the same ratio to 1/27 as 3/11 bear to 5/9 is equal to ……….. .</p>
        <form class="" action="index.html" method="post">
          <input type="radio" name="q2" value="a"> A. 1/55<br>
          <input type="radio" name="q2" value="b"> B. 55 <br>
          <input type="radio" name="q2" value="c">  C. 3/11
        </form>
        <p>The number of 3-digit numbers divisible by 6, is ………….. .</p>
        <form class="" action="index.html" method="post">
          <input type="radio" name="q3" value="a"> A. 150 <br>
          <input type="radio" name="q3" value="b"> B. 160<br>
          <input type="radio" name="q3" value="c"> C. 170
        </form>
        <p>What is 1004 divided by 2?</p>
        <form class="" action="index.html" method="post">
          <input type="radio" name="q4" value="a"> A. 149 <br>
          <input type="radio" name="q4" value="b">B. 166<br>
          <input type="radio" name="q4" value="c"> C. 150
        </form>
        <p>A clock strikes once at 1 o’clock, twice at 2 o’clock, thrice at 3 o’clock and so on. How many times will it strike in 24 hours?</p>
        <form class="" action="index.html" method="post">
          <input type="radio" name="q1" value="a"> A. 52 <br>
          <input type="radio" name="q1" value="b"> B. 502<br>
          <input type="radio" name="q1" value="c"> C. 520
        </form>
        <p>Which answer expresses the meaning of the specified word best?</p>
        <form class="" action="index.html" method="post">
          <input type="radio" name="q" value="a">A. compassionate
          <input type="radio" name="q" value="b">B. comforting<br>
          <input type="radio" name="q" value="c">C. explanatory<br>
        </form>
        <p>Which number logically follows this series?
             4     6     9     6     14     6      ...
        </p>
        <form class="" action="index.html" method="post">
          <input type="radio" name="q" value="a">A. 6<br>
          <input type="radio" name="q" value="b">B. 17<br>
          <input type="radio" name="q" value="c">C. 19
        </form>
        <p>Which conclusion follows from the statements with absolute certainty?</p>
        <form class="" action="index.html" method="post">
            <input type="radio" name="q" value="a"> A. all stamp collectors are architects<br>
            <input type="radio" name="q" value="b"> B. architects are not drones<br>
            <input type="radio" name="q" value="c"> C. no stamp collectors are drones
        </form>
        <p>Which answer expresses the meaning opposite of that of the specified word best?
        tough</p>
        <form class="" action="index.html" method="post">
          <input type="radio" name="q" value="a">A. cowardly<br>
          <input type="radio" name="q" value="b">B. starch<br>
          <input type="radio" name="q" value="c">C. strong
        </form>
        <p>Water is to a pipe as ? is to a wire.</p>
        <form class="" action="index.html" method="post">
<input type="radio" name="q" value="a">A. Cord <br>
<input type="radio" name="q" value="b">B. electricity <br>
<input type="radio" name="q" value="c">C. heat
        </form>
    <button id="btn" type="submit" name="button">GENERATE SCORE</button>
    <h1 id="score"></h1>
    <h1 id="IQ"></h1>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded',function(){

      document.querySelector('button').onclick=count;
        let c=1;
        function count(){
         if(c!=10)
           c++;
         else if (c==3) {
           c+=2;
         }
         else {
           c--;
         }
         document.querySelector('#welcome').innerHTML = "Thank You";
         document.querySelector('#score').innerHTML = "Your score is: "+c;
         document.querySelector('#IQ').innerHTML ="Your IQ is:"+(c/5)*200;

        }
      });
      document.getElementById('timer').innerHTML =15 + ':' + 00;
    startTimer();

    function startTimer() {
    var presentTime = document.getElementById('timer').innerHTML;
    var timeArray = presentTime.split(/[:]+/);
    var m = timeArray[0];
    var s = checkSecond((timeArray[1] - 1));
    if(s==59){m=m-1}
    //if(m<0){alert('timer completed')}

    document.getElementById('timer').innerHTML = m + ":" + s;
    setTimeout(startTimer, 1000);
    }

    function checkSecond(sec) {
    if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
    if (sec < 0) {sec = "59"};
    return sec;
    }
    </script>
  {%else%}
    <h1>Register here!</h1>
    <h3>Fill out the form:</h3>

  <form method="POST" enctype="multipart/form-data">
    {%csrf_token %}
    {{user_form.as_p}}
    <input type="submit" name="" value="Register">
  </form>
  {% endif %}
</div>
</div>
{%endblock%}
