
body{
  background-color:#f7f8f9;
  font-family: 'Lilita One', cursive;
}
#space{
  width: 200%;
}
#headern{
 background-color: ;
}
.jumbotron {
  border:1px solid black;
    margin-top: -18px;
    background-color:#e3ecf9 !important;
}
